.flexContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  flex: 1 1 auto;
  padding: 0 10vw;
}

.flexItem {
  background-color: #3a39396e;
  border-radius: 0.5rem;
  padding: 5px;
  width: 200px;
  height: 200px;
  margin: 6px;
  transition: all 0.2s ease-out;
}

.flexItem:hover {
  transform: scale(1.1);
  background-color: rgba(90, 88, 88, 0.459);
}

.flexText {
  font-size: 1rem;
  text-align: center;
}

.flexImage img {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
