.header {
  display: flex;
  top: 0;
  width: 100%;
  height: 4rem;
  background-color: pink;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.headerContent {
  display: flex;
}

.headerLink {
  padding: 0rem 1rem;
  transition: all 0.2s ease-out;
}

.headerLink:hover {
  transform: scale(1.1);
  color: var(--color-text-hover);
}

.headerLink:active {
  color: var(--color-text-active);
}

.headerIcon {
  font-size: 2rem;
  transition: all 0.2s ease-out;
}

.headerIcon:hover {
  transform: scale(1.1);
}
