:root {
  --color-text: white;
  --color-text-hover: rgba(212, 206, 206, 0.685);
  --color-text-active: rgba(128, 128, 128, 0.404);
  --color-background: black;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html,
body {
  color: var(--color-text);
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
